<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mao.mapper.classical.BjxMapper">

    <select id="getBjx" parameterType="com.mao.entity.classical.bjx.BjxParam"
            resultType="com.mao.entity.classical.bjx.Bjx">
        SELECT `id`,`name` FROM tt_bjx WHERE `py` = #{py}
        <if test="name != null">
            AND LOCATE(#{name},`name`) > 0
        </if>
    </select>

    <select id="getBjxSrc" parameterType="java.lang.Integer" resultType="com.mao.entity.classical.bjx.BjxSrc">
        SELECT `id`,`name`,`src` FROM tt_bjx WHERE `id` = #{id}
    </select>

</mapper>