<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>关于KeepYounger</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/model.css}">
    <link rel="stylesheet" th:href="@{/css/ky.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>

<body>
<div th:replace="model/head::top"></div>
<div class="contain">
    <div class="box">
        <table class="ky" border="0" cellpadding="0" cellspacing="0">
            <tr class="ky-title">
                <td colspan="2">
                    <span class="ky-logo-pre">关于</span><span class="ky-logo">Keep Younger</span>
                </td>
            </tr>
            <tr class="ky-content">
                <td class="ky-list">
                    <ul>
                        <li><span class="ky-active"> > </span><a th:href="@{/about/about}">关于我们</a></li>
                        <li><a th:href="@{/about/copyright}">版权申明</a></li>
                        <li><a th:href="@{/about/service}">服务申明</a></li>
                        <li><a th:href="@{/about/cooperate}">投资合作</a></li>
                        <li><a th:href="@{/about/help}">在线帮助</a></li>
                    </ul>
                </td>
                <td class="ky-text">
                    <p>
                        <b>网站简介:</b>
                    </p>
                    <p>本网站属于私人搭建网站，旨在技术交流，吸取建议，多交朋友。不涉及任何盈利目的。</p>
                    <p>本人在业余时间弄的一个小网站，生活和工作中积累到的一些东西都会在这里试试手，看看效果。</p>
                    <p>如果效果可以，便会收集一些数据，在此网站上进行展示。但主要还是以快乐生活，快乐工作为目的。</p>
                    <p>所以舔求大家不要攻击人家的小服务器啦。</p>
                    <p>一个 </p>
                    <p>很小</p>
                    <p>很小</p>
                    <p> 的服务器。</p>
                    <p>而且也不要告人家。本人不做商业用途的。</p>
                    <p>如果有一天，这个网站打不开了，访问不了了。</p>
                    <p>不要问为什么，那肯定是我没钱了。付不起服务器了~~~</p>
                    <p></p>
                    <p><b>关于我：</b></p>
                    <p>本人也在IT界混了好几年了，感觉这个坑实在是太大了，这是一个学习永远没有尽头的路。所以任重道远。
                        有些人混着混着感觉越来越混不下去，
                    有些人混着混着就越来越有兴趣~这当然都要看自己了，你可以将这个行业当一碗饭吃，你也可以慢慢慢慢的
                    去了解它、熟悉它、喜欢它，到后来，你会觉得它越来越有趣。</p>
                    <p>所以我觉得，还是应该“干一行爱一行”吧，如果你觉得干这行走的越来越艰难，到后来最先倒下的可能
                    就是你的身体了。。。</p>
                    <p>溜了溜了。。。撸代码去了。。。</p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="model/foot::foot"></div>
<div th:replace="model/etc::etc"></div>
</body>
</html>