<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>电视直播</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/model.css}">
    <link rel="stylesheet" th:href="@{/h5/video.css}">
    <link rel="stylesheet" th:href="@{/css/ray/tv.css}">
</head>

<body>
<div th:replace="/model/head::top"></div>
<div class="contain">
    <div class="box">
        <div class="list">
            <div class="list-select">
                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td width="50%" data-id="gn" class="active" onclick="transField(this)"><a>国内</a></td>
                        <td width="50%" data-id="gw" onclick="transField(this)"><a>国外</a></td>
                    </tr>
                </table>
            </div>
            <ul id="gn">
                <!--<li data-url="http://ivi.bupt.edu.cn/hls/hunanhd.m3u8" onclick="trans(this)">
                    <span class="list-name">湖南卫视</span><span class="tips">一般</span>
                </li>-->
            </ul>
            <ul id="gw" style="display: none"></ul>
        </div>
        <div class="video">
            <section>
                <video id="my_video" class="video-js vjs-default-skin vjs-big-play-centered" poster="">
                    <source src="http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8" type="application/x-mpegURL" id="target">
                </video>
            </section>
        </div>
    </div>
</div>
<div th:replace="/model/foot::foot"></div>
<div th:replace="/model/etc::etc"></div>
</body>
<script th:src="@{/js/jquery-2.0.3.js}"></script>
<script th:src="@{/h5/video.js}"></script>
<script th:src="@{/h5/videojs-contrib-hls.js}"></script>
<script th:inline="javascript">
    $(function () {
        var tvs = [[${tv}]];
        load(tvs);
    });
    function load(data) {
        var gn = "";
        var gw = "";
        for (var i = 0; i < data.length; i++){
            var li = '<li data-url="'+data[i].url+'" onclick="trans(this)">' +
                '<span class="list-name">'+data[i].name+'</span>' +
                '<span class="tips">'+data[i].kind+'</span>' +
                '</li>';
            if (data[i].type === 0)
                gn += li;
            else gw += li;
        }
        $("#gn").append(gn);
        $("#gw").append(gw);
    }
    var videoObj = videojs("my_video",{"poster":"/img/winter.gif","controls":"true" });
    function trans(e) {
        $(e).siblings().removeClass("active");
        $(e).addClass("active");
        var url = $(e).data("url");
        videoObj.src({src:url,type:"application/x-mpegURL"});
        videoObj.play();
    }
    function transField(e) {
        $(e).siblings().removeClass("active");
        $(e).addClass("active");
        var id = $(e).data("id");
        $(".list ul").css("display","none");
        $("#"+id).css("display","block");
    }
</script>
</html>