<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>古籍大全</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/model.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div th:replace="model/head::top"></div>
<div class="contain">
    <div class="box" th:data-aes="${session.aes}">

    </div>
</div>
<div th:replace="model/foot::foot"></div>
<div th:replace="model/etc::etc"></div>
</body>
<script th:src="@{/js/jquery-2.0.3.js}"></script>
<script th:src="@{/js/util/web-aes-data_2019_12.js}"></script>
<script th:src="@{/js/util/web-aes-data_2019_12-self.js}"></script>
<script th:inline="javascript">
    var book = [[${book}]];
    var bookParam = [[${bookParam}]];
    $(function () {
        book = web_aes_de_def(book);
        bookParam = web_aes_de_def(bookParam);
        console.log(book);
        console.log(bookParam);
    });
</script>
</html>