<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.ray.TvMapper">

    <select id="getTvs" resultType="com.mao.entity.ray.M3u8">
        SELECT `id`,`name`,`url`,`type`,`kind` FROM tt_live_m3u8_new WHERE `useful` = 1
    </select>

</mapper>